/* Estilização geral do container */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff8dc; /* Dourado Claro */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Título */
.login-container h2 {
  color: #8b5a2b; /* Marrom */
  margin-bottom: 20px;
  font-size: 24px;
}

/* Campos de input */
.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #8b5a2b; /* Marrom */
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 20px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #8b5a2b;
}

/* Estilização do botão principal */
.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #8b5a2b; /* Marrom */
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* Efeito ao passar o mouse */
.login-container button:hover {
  background-color: #a67b5b; /* Marrom mais claro */
}

/* Estilização do checkbox "Lembrar senha" */
.remember-password {
  display: flex;
  justify-content: flex-start; /* Alinha à esquerda */
  align-items: center;
  margin: 10px 0;
}

.remember-password input {
  margin-right: 10px; /* Adiciona um pequeno espaçamento entre o checkbox e o texto */
}

/* Responsividade */
@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 15px;
  }

  .login-container input {
    font-size: 14px;
  }

  .login-container button {
    font-size: 16px;
  }
}
